.product-card {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s, box-shadow 0.3s;
            margin-bottom: 20px;
        }
        .product-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
        }
        .product-card img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 8px 0 0 8px;
        }
        .product-card .card-body {
            padding: 20px;
            flex: 1;
        }
        .product-card .card-title {
            margin-bottom: 15px;
        }
        .product-card .btn {
            margin-right: 5px;
        }

        header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background-color: #0779e4;
    border-radius: 5px;
}

header nav ul li:last-child {
    margin-right: 0;
}
