body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #0779e4 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

.btn {
    display: inline-block;
    color: #333;
    background: #0779e4;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #055a9c;
    color: #fff;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

table th {
    background: #0779e4;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.product-card {
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* додано анімацію підняття та тіні */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* тінь для карток */
    height: 100%; /* розтягнутість по висоті */
}

.product-card:hover {
    transform: translateY(-5px); /* підняття картки при наведенні */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* збільшення тіні при наведенні */
}



.card-body {
    text-align: center;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 15px;
}

.btn {
    margin-top: 10px;
}
.product-card {
            margin-bottom: 20px;
        }
.product-card .card-img-top {
            height: 300px; 
            object-fit: cover;
        }

        header {
    background-color: #333;
    color: #fff;
    padding-top: 20px;
    min-height: 60px;
    border-bottom: 3px solid #0779e4;
}

header nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline-block;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    transition: all 0.3s ease;
}

header nav ul li a:hover {
    background-color: #0779e4;
    border-radius: 5px;
}

header nav ul li:last-child {
    margin-right: 0;
}
